//
// Scaffold
// --------------------------------------------------

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  font-family: $font-family__body;
  color: $text-primary;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: $primary-col--tint1;
  &.navActive {
    overflow: hidden;
    height: 100%;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  position: relative;
  z-index: 1;
}
img {
  width: 100%;
}
.wrapper {
  position: relative;
  overflow: hidden;
}
.content {
  max-width: 1280px;
  padding: 0 20px 20px;
  margin: 0 auto;
  @include media-query(md) {
    padding: 0 30px 20px;
  }
  @include media-query(lg) {
    padding: 0 40px 250px;
  }
}
.light-body {
  background-color: $background-light;
}
.dark-body {
  background-color: $primary-col;
}
.background-angle {
  height: 75vh;
  width: 100%;
  background-color: $primary-col;
  position: absolute;
  z-index: -2;
  &:after {
    content: "";
    position: relative;
    top: 75vh;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 110vh 100vw 0 0;
    border-color: $primary-col transparent transparent transparent;
  }
}
::-moz-selection {
  background: #FFCA4A;
  color: $white;
}
::selection {
  background: #FFCA4A;
  color: $white;
}
