include _head
body.page__home
  include _nav
  .wrapper
    .background-angle
    .content
      .section.section--hero
        h1.text--large data-aos="fade-up" data-aos-duration="800"
          | We create digital
          br
          |  experiences
        p.text--medium data-aos="zoom-out" data-aos-delay="800" From apps to websites, watches to widescreens.
      .section#aboutAnchor
        .section__1-2.section__about
          div data-aos="fade-right"
            .subtext.text--highlight.text--right Welcome to
            h2.text--large.text--right
              | Our
              br
              | Studio
          p data-aos="fade-left" We are a design & development studio based in Sheffield. We create beautiful apps & websites that solve problems for real people and make them fall in love with your brand.
      .section.section--hero
        h1.text--x-large.text--dark data-aos="zoom-out"
          | good design
          br
          | is invisible
      .section
        .section__1-1
          .section__image
            .image-fan data-aos="fade-right"
              .image-fan__image--1
                img src="../images/moovee/film-overview.jpg" alt=""
              .image-fan__image--2
                img src="../images/nuumi/mobile-home.jpg" alt=""
              .image-fan__image--3
                img src="../images/macro/graph.jpg" alt=""
          .section__text--small data-aos="fade-left"
            .subtext.text--highlight Case Studies
            h2.text--large
              | Our
              br
              | Projects
            p We'll let our previous work do the talking from here... We can't wait to hear from you!
            a.button href="/projects.html" Take a look

  include _footer
  include _scripts
