include ../_head
body.light-body.page__projects
  include ../_nav
  .wrapper
    .background-angle
    .content
      .hero
        .section__1-2
          div data-aos="fade-right"
            .subtext.text--highlight Case Study
            h2.text--large.text--bg
              | Macro
              br
              | App
          p data-aos="fade-left" Macro aims to connect trainers with their ever growing client base. Easing the burden of tracking clients progress through multiple communication channels. We designed an app that gave Trainers a simple yet powerful way to track all their clients progress and quickly identify those that were going off target or missing a check-in.

      .imgs--even
        .imgs__logo--macro
          .imgs__logo-float
            img src="../images/macro/logo.png" alt="The Macro Logo"

      .section
        .text-only.text--invert
          p Each screen within the app is designed with the main interactions towards the lower half of the screen, this allows for more comfortable use and reinforces Macro's goal of being quick and easy to track client progress on the go.
          p Trainers told us the more information they have on their clients, the more accurately they can assist them with their goals. To do this we needed users to fill out forms, and no one likes doing that! we obscured this behind fun iteractive widgets so that people would enjoy the onboarding process:

      .imgs--even
        .imgs__app-screen.imgs__device--invisible data-aos="fade-left"
          img src="../images/macro/metrics-1.jpg" alt="Macro metrics screen"
        .imgs__app-screen.imgs__device
          img src="../images/macro/login.jpg" alt="Macro login screen"
        .imgs__app-screen.imgs__device--invisible data-aos="fade-right"
          img src="../images/macro/metrics-2.jpg" alt="A second Macro metrics screen"

      .section.section--hero
        h1.text--x-large.text--light
          | personal
          br
          | tracking

      .imgs--even
        .imgs__app-screen.imgs__device data-aos="fade-right"
          img src="../images/macro/clients.jpg" alt="Macro clients screen"
        .imgs__app-screen.imgs__device data-aos="fade-left"
          img src="../images/macro/graph.jpg" alt="Macro graph screen"

      .section
        .text-only.text--invert
          p For trainers using Macro we wanted to make sure that they could see what needed their attention at a glance, but scrutinise the data further with just a couple of taps.
          p Trainers are scored on their success and awarded for their accomplishments within the app which are prominently displayed on their profiles, this allows them to attract new clients through their social media channels.

      .imgs--even
        .imgs__app-screen.imgs__device data-aos="fade-right"
          img src="../images/macro/plan.jpg" alt="Macro plan screen"
        .imgs__app-screen.imgs__device data-aos="fade-left"
          img src="../images/macro/profile.jpg" alt="Macro profile screen"

  include ../_footer
  include ../_scripts
