include ../_head
body.light-body.page__projects
  include ../_nav
  .wrapper
    .background-angle
    .content
      .hero
        .section__1-2
          div data-aos="fade-right"
            .subtext.text--highlight Case Study
            h2.text--large.text--bg
              | Moovee
              br
              | App
          p data-aos="fade-left" Moovee's aim is simple - allow movie-goers to create a list of everything they want to see, and check it off as they go. It allows film buffs keep track of what to watch and share their feelings with fellow cinema lovers, whilst the powerful AI behind the scenes can recommend titles based on their previous activity.

      .imgs--end data-aos="fade-up"
        div.imgs__app-screen.imgs__device
          img src="../images/moovee/onboarding.jpg" alt="Moovee onboarding"
        div.imgs__app-screen.imgs__device
          img src="../images/moovee/login.jpg" alt="Moovee login"

      .section
        .text-only.text--invert
          p Inspired by the movie theaters; Moovee has a deliberately dark atmosphere - perfect for updating your 'to watch' list whilst the latest trailers are playing.
          p Once you find something you love, the artwork influences the UI and makes every screen feel bespoke.


      .imgs--even
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-left"
          img src="../images/moovee/film-related.jpg" alt="Moovee related films"
        div.imgs__app-screen.imgs__device
          img src="../images/moovee/film-overview.jpg" alt="Moovee film overview"
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-right"
          img src="../images/moovee/film-reactions.jpg" alt="Moovee film reactions"

      .section.section--hero
        h1.text--x-large.text--light
          | just like
          br
          | the movies

      .imgs--even
        .imgs__logo--moovee
          .imgs__logo-float
            img src="../images/moovee/logo.png" alt="The Moovee Logo"

      .section
        .text-only.text--invert
          p Moovee will recommend new films to watch based on what the user adds to their list, watches and reviews. They can also search manually to find that film everyone is talking about.
          p They can then read more about the film, see related titles or read reviews from Rotten Tomatos and other Moovee users.

      .imgs--even
        div.imgs__app-screen.imgs__device data-aos="fade-right"
          img src="../images/moovee/discover.jpg" alt="Moovee discovery page"
        div.imgs__app-screen.imgs__device data-aos="fade-left"
          img src="../images/moovee/list.jpg" alt="Moovee list page"

  include ../_footer
  include ../_scripts
