include ../_head
body.light-body.page__projects
  include ../_nav
  .wrapper
    .background-angle
    .content
      .hero
        .section__1-2
          div data-aos="fade-right"
            .subtext.text--highlight Case Study
            h2.text--large.text--bg
              | Studio
              br
              | Nuumi
          p data-aos="fade-left" Studio Nuumi wanted an online store that let their products do the talking. They offer beautiful hand-crafted furniture created from reclaimed materials and sourced from around their home in South Yorkshire. We designed a website that put their gorgeous products front and center and helped tell their story along the way.

      .imgs__full-width
        img src="../images/nuumi/home.jpg" alt="The Nuumi homepage"

      .section
        .text-only.text--invert
          p Punctuated with impactful typography and an earthy colour pallete, we really wanted to reinforce the companies use of reclaimed materials.
          p Customers told us they were interested in the products and how they were made; we kept the navigation simple to allow them to explore the shop or the story.

      .imgs__full-width
        img src="../images/nuumi/product.jpg" alt="The Nuumi product page"

      .section.section--hero
        h1.text--x-large.text--light
          | reclaim
          br
          | & rebuild

      .imgs--even
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-left"
          img src="../images/nuumi/mobile-home.jpg" alt="The Nuumi homepage on mobile"
        div.imgs__app-screen.imgs__device
          img src="../images/nuumi/mobile-product.jpg" alt="The Nuumi product page on mobile"
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-right"
          img src="../images/nuumi/mobile-cart.jpg" alt="The Nuumi cart on mobile"

      .section
        .imgs--even
          .imgs__full-width
            img src="../images/nuumi/Basket-sidebar.jpg" alt="The Nuumi sidebar cart"
          .imgs__full-width
            img src="../images/nuumi/Basket-full.jpg" alt="The Nuumi basket"

      .section
        blockquote Simply perfect! we were blown away!
        cite Aidan Bintcliffe, Studio Nuumi

      .imgs__full-width
        img src="../images/nuumi/about.jpg" alt="The Nuumi about page"

  include ../_footer
  include ../_scripts
