include ../_head
body.light-body.page__projects
  include ../_nav
  .wrapper
    .background-angle
    .content
      .hero
        .section__1-2
          div data-aos="fade-right"
            .subtext.text--highlight Case Study
            h2.text--large.text--bg
              | Ooh
              br
              | Lala
          p data-aos='fade-left' Ooh Lala had a very clear idea of how they wanted their logo and website to look; "elegant, pretty and lots of love hearts!" - we worked together to create a design which ticked all those boxes and reassured potential customers that Ooh Lala were the company they should trust with their big day.

      .imgs--even
        .imgs__logo--oohlala
          .imgs__logo-float
            img src="../images/oohlala/logo.png" alt="The Ooh lala Logo"

      .section
        .text-only.text--invert
          p We knew that customers were basing their decision to employ Ooh Lala on the strength of their previous styles, so we used every opporunity to show off Ooh Lala's beautiful work.
          p We brought it all together on the gallery page, and peppered it with glowing testimonials from happy brides!

      .imgs__full-width
        img src="../images/oohlala/home.jpg" alt="The Ooh lala homepage"

      .section.section--hero
        h1.text--x-large.text--light
          | sunshine
          br
          | & sparkles

      .imgs__full-width
        img src="../images/oohlala/gallery.jpg" alt="The Ooh lala gallery"

      .section
        blockquote You are stars! Thank you so much, you have been brilliant and I am so happy with the site!
        cite Katie Bolt, Ooh Lala

      .imgs--even
        .imgs__full-width
          img src="../images/oohlala/blog.jpg" alt="The Ooh lala blog index"
        .imgs__full-width
          img src="../images/oohlala/blog-post.jpg" alt="An Ooh lala blog post"

      .section
        .text-only.text--invert
          p Every website we build is designed from the start to work across devices of any size and Ooh Lala was no exception. We optimise everything so that it not only looks great, but loads fast and doesn't eat all of your data!


      .imgs--even
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-left"
          img src="../images/oohlala/mobile-home.jpg" alt="The Ooh lala homepage on mobile"
        div.imgs__app-screen.imgs__device
          img src="../images/oohlala/mobile-menu.jpg" alt="The Ooh lala menu on mobile"
        div.imgs__app-screen.imgs__device--invisible data-aos="fade-right"
          img src="../images/oohlala/mobile-blog.jpg" alt="The Ooh lala homepage on mobile"

  include ../_footer
  include ../_scripts
